.box.px-box{
    height: 80px;
    width: 300px;
    background-color: rgb(220, 175, 116);
}

.em-parent{
    font-size: 20px;
    background-color: bisque;
}

.em-child{
    font-size: 2em;
    padding: 1em;
    background-color: aqua;
}

.rem-box{
    font-size: 2rem;
    padding: 1rem;
    background-color: brown;
}

.percent-parent{
    width: 500px;
    background-color: yellow;
}

.percent-child{
    width: 50%;
    padding: 5%;
    background-color: yellowgreen;
}

.box.vw-box{
    width: 50vw;
    height: 10vh;
    background-color: violet;
}

.vmin-box{
    height: 20vmin;
    width: 10vmin;
    background-color: turquoise;
}

.vmax-box{
    height: 20vmax;
    width: 10vmax;
    background-color: tomato;
}

.ch-input{
    width: 50ch;
    background-color: thistle;
}

.lh-demo{
    height: 2lh;
    background-color: tan;
}

.lh-box{
    height: 3lh;
    background-color: springgreen;
}


